# Environment Setup

This notebook demonstrates how to genotype recurrent CNVs. The only required input files is:
1. QCed CNV calls in .bed format: tab separated with header and first three columns: chrom, start, end.

The required tools are:
1. python (with pandas installed)
2. bedtools (code to install static binary below)

In [1]:
%%bash

wget -nv -O bedtools https://github.com/arq5x/bedtools2/releases/download/v2.28.0/bedtools
chmod a+x bedtools

2025-09-01 15:11:34 URL:https://release-assets.githubusercontent.com/github-production-release-asset/15059334/6cdff700-4d6a-11e9-9ddb-98618909f426?sp=r&sv=2018-11-09&sr=b&spr=https&se=2025-09-01T22%3A52%3A09Z&rscd=attachment%3B+filename%3Dbedtools&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2025-09-01T21%3A51%3A36Z&ske=2025-09-01T22%3A52%3A09Z&sks=b&skv=2018-11-09&sig=M%2FtuyOn2mzmhPGGjLEopcPlQlAkGqDwUSAJCI3009Cw%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc1Njc2NDkzNCwibmJmIjoxNzU2NzY0NjM0LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.Qq-9p8Mtn7aN2TNC2Fxo_yyceR_tZbA8clmt_3e83pQ&response-content-disposition=attachment%3B%20filename%3Dbedtools&response-content-type=application%2Foctet-stream [38962368/38962368] -> "bedtools" [1]

Next, set cohort name and date for saving output files.

In [2]:
import datetime
import os

# Set variables
COHORT = "G2MH"
TODAY = datetime.date.today().strftime("%Y-%m-%d")

# Optionally, export to environment variables for shell cells
os.environ["COHORT"] = COHORT
os.environ["TODAY"] = TODAY

# Read in and format locus definitions

The locus definitions are defined in this public spreadsheet: https://docs.google.com/spreadsheets/d/1v6bzdeFYorIJsjuBDSTdMDHQVU47IrLI/edit?pli=1&gid=1816231862#gid=1816231862

These blocks of code read in two sets of locus definitions:
1. Loci that are genotyped with 50% reciprocal overlap
2. Loci that are genotyped with 50% one-way overlap

Regions that have multiple adjacent or nested breakpoints are genotyped with one-way overlap

In [3]:
import pandas as pd

sheet_id = "1v6bzdeFYorIJsjuBDSTdMDHQVU47IrLI"  # your sheet ID
gid = "1816231862"  # sheet tab ID
url_reciprocal = f'https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=tsv&gid={gid}'
print("hi")
df_reciprocal = pd.read_csv(url_reciprocal, sep="\t")

bed_reciprocal = df_reciprocal.loc[:,['CHR', 'START', 'END', 'Locus name']]
bed_reciprocal.to_csv('recurrentCNV_hg38.reciprocal.bed', index=False, sep='\t', header=False)
!tail recurrentCNV_hg38.reciprocal.bed

hi
2	110105139	110226371	2q13_NPHP1
2	110636463	111255072	2q13
2	130723735	131173104	2q21.1
7	75508972	76435095	7q11.23_distal
10	48182156	49850750	10q11.21_11.23
10	80285716	87171894	10q22-23
13	22981219	24310484	13q12.12
17	14238070	15523647	17p12
17	16909457	20307704	17p11.2
17	36460090	37857812	17q12

In [4]:
sheet_id = "1v6bzdeFYorIJsjuBDSTdMDHQVU47IrLI"  # your sheet ID
gid = "1406215423"  # sheet tab ID
url_oneway = f'https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=tsv&gid={gid}'

df_oneway = pd.read_csv(url_oneway, sep="\t")

bed_oneway = df_oneway.loc[:,['CHR', 'START', 'END', 'Locus name']]
bed_oneway.columns = ['locusCHR', 'locusSTART', 'locusEND', 'locusNAME']
bed_oneway.to_csv('recurrentCNV_hg38.oneway.bed', index=False, sep='\t', header=False)
!tail recurrentCNV_hg38.oneway.bed

22	20400000	20665000	22q11.21_B_C
22	20750000	21112437	22q11.21_C_D
22	21565838	22610000	22q11.21_D_E
22	22825000	23311459	22q11.21_E_F
22	23550000	23950000	22q11.21_F_G
22	24050000	24200000	22q11.21_G_H
15	30788442	31724867	15q13.3_BP4_BP5_exclCHRNA7
16	21570000	21720000	16p12.2_BP1_BP2
15	23067754	28145193	15q11.2-13.1_BP2_BP3
16	29035462	29639519	16p11.2_BP3_BP4

# Reformat CNV calls

bedtools requires the first three columns of an input .bed file to be chromosome (column 1 in All Of Us "chrom"), start position (column 7, "consStart"), and end position (column 8, "consEnd"). We also need to include copy number (column 9, "consCallType") and sample ID (column 10, "sampleId").

All Of Us CNV calls are split into batches in a GCS bucket. This next block of code extracts the relevant columns and concatenates each batch. It also removes the "chr" prefix from the chromosome column

In [5]:
%%bash
output="/expanse/projects/sebat1/a1sriniv/g2mh/cnv_genotyping/wgs/other_recurrent_loci/${COHORT}.CNVcalls.consensus.${TODAY}.bed"
: > "$output"  # empty file

for f in /expanse/projects/sebat1/a1sriniv/g2mh/cnv_genotyping/wgs/other_recurrent_loci/cnv_vcf_beds/*.bed; do
    sample="${f##*/}"                 # strip path → 882-NDARAA241UP7.filtered.bed
    sample="${sample%.bed}"           # strip .bed → 882-NDARAA241UP7.filtered
    sample="${sample%.filtered}" 
    awk -v sample="$sample" -F "\t" '{ sub(/^chr/, "", $1); print $1"\t"$2"\t"$3"\t"$4"\t"sample}' "$f"
done >> $output

head "$output"
echo
ls -lh "$output"

10	48182475	48674913	.	882-NDARAA241UP7
10	48674913	48676662	<DEL>	882-NDARAA241UP7
10	48676663	49795310	.	882-NDARAA241UP7
10	49795310	49803465	<DEL>	882-NDARAA241UP7
10	49803466	50064424	.	882-NDARAA241UP7
10	79880173	87110741	.	882-NDARAA241UP7
11	41679753	46139337	.	882-NDARAA241UP7
13	18786404	22019381	.	882-NDARAA241UP7
13	22022972	23058400	.	882-NDARAA241UP7
13	23058400	23062975	<DEL>	882-NDARAA241UP7

-rw-r--r-- 1 a1sriniv ddp195 4.2M Sep  1 15:11 /expanse/projects/sebat1/a1sriniv/g2mh/cnv_genotyping/wgs/other_recurrent_loci/G2MH.CNVcalls.consensus.2025-09-01.bed

# Run bedtools with 50%  reciprocal overlap

In [6]:
%%bash

./bedtools intersect \
      -a recurrentCNV_hg38.reciprocal.bed \
      -b ${COHORT}.CNVcalls.consensus.${TODAY}.bed\
      -header -wb -wa -f .5 -r > ${COHORT}.reciprocal.${TODAY}.bed
      
head ${COHORT}.reciprocal.${TODAY}.bed
ls -lh ${COHORT}.reciprocal.${TODAY}.bed

1	147056425	147922330	1q21.1	1	147021747	147593490	.	883-NDARPK704YC5
1	147056425	147922330	1q21.1	1	147021747	147725638	.	887-NDARBE180DFH
1	147056425	147922330	1q21.1	1	147021747	148013556	.	882-NDARAA241UP7
1	147056425	147922330	1q21.1	1	147021747	148013556	.	882-NDARAB886WJL
1	147056425	147922330	1q21.1	1	147021747	148013556	.	882-NDARAC684ABP
1	147056425	147922330	1q21.1	1	147021747	148013556	.	882-NDARAE674MBB
1	147056425	147922330	1q21.1	1	147021747	148013556	.	882-NDARAF239LV0
1	147056425	147922330	1q21.1	1	147021747	148013556	.	882-NDARAM990MEA
1	147056425	147922330	1q21.1	1	147021747	148013556	.	882-NDARAN856ML7
1	147056425	147922330	1q21.1	1	147021747	148013556	.	882-NDARAP035WH4
-rw-r--r-- 1 a1sriniv ddp195 786K Sep  1 15:11 G2MH.reciprocal.2025-09-01.bed

Read them into a pandas dataframe

In [7]:
reciprocal_calls = pd.read_csv(f'{COHORT}.reciprocal.{TODAY}.bed', sep='\t')
header = ['locusCHROM', 'locusSTART', 'locusEND', 'locusName', 'CHROM', 'START', 'END', 'TYPE', 'sampleID']
reciprocal_calls.columns = header
reciprocal_calls = reciprocal_calls[reciprocal_calls['TYPE'] != '.']
reciprocal_calls.head()
#reciprocal_calls['TYPE'].value_counts()

,locusCHROM,locusSTART,locusEND,locusName,CHROM,START,END,TYPE,sampleID
1197,3,196011534,197617305,3q29,3,195595166,197237244,<DUP>,882-NDARVR804CER
1323,3,196011534,197617305,3q29,3,195750205,197157392,<DUP>,883-NDARVV291LUK
1569,3,196011534,197617305,3q29,3,195261104,197235168,<DUP>,886-NDARRC407LCN
1606,3,196011534,197617305,3q29,3,195750205,197170422,<DUP>,886-NDARXN968MRG
1873,3,196011534,197617305,3q29,3,195276359,197235168,<DUP>,896-NDARDP871REA

# Run bedtools with 50% one-way overlap

In [8]:
%%bash

./bedtools intersect \
      -a recurrentCNV_hg38.oneway.bed \
      -b ${COHORT}.CNVcalls.consensus.${TODAY}.bed\
      -header -wb -wa -f .5 > ${COHORT}.oneway.${TODAY}.bed
      
tail ${COHORT}.oneway.${TODAY}.bed

15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	24481230	28318191	.	896-NDARYX075FCC
15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	23305673	28318191	.	896-NDARZG817TV3
15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	23815959	28318191	.	896-NDARZH271GK6
15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	24874491	28293502	.	896-NDARZH361EM0
15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	24874491	28318191	.	896-NDARZH390XM2
15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	23305673	28318191	.	896-NDARZJ463MTD
15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	24874491	28318191	.	896-NDARZV016GBP
15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	23750645	28318191	.	896-NDARZW083WJ8
15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	23305673	28318191	.	896-NDARZW810BU0
15	23067754	28145193	15q11.2-13.1_BP2_BP3	15	23305673	25972093	.	896-NDARZX589WUG

Read them into a pandas dataframe

In [9]:
oneway_calls = pd.read_csv(f'{COHORT}.oneway.{TODAY}.bed', sep='\t')
header = ['locusCHROM', 'locusSTART', 'locusEND', 'locusName', 'CHROM', 'START', 'END', 'TYPE', 'sampleID']
oneway_calls.columns = header
oneway_calls = oneway_calls[oneway_calls['TYPE'] != '.']
oneway_calls['locusName'].value_counts()

locusName
22q11.21_A_B                  705
22q11.21_C_D                  684
22q11.21_B_C                  680
16p11.2_BP4_BP5               226
16p11.2_BP2_BP3                55
22q11.21_D_E                   34
22q11.21_E_F                   29
22q11.21_F_G                   26
22q11.21_G_H                   25
16p11.2_BP1_BP2                16
15q11.2_BP1_BP2                14
15q13.3_CHRNA7                 11
1q21.1_TAR_BP1_BP2              8
1q21.1_TAR_BP2_BP3              6
16p13.11_BP1_BP2                6
15q13.3_BP4_BP5_exclCHRNA7      6
16p12.2_BP2_BP3                 4
15q13.1-13.2_BP3_BP4            2
Name: count, dtype: int64

# Format calls into genotype matrix

For All Of Us, I initialized this matrix by reading in the manifest that includes sample QC ('Freq_Calc' column, formatted 1 for pass, 0 for fail). For other datasets, any matrix that contains one row for each sample ID (i.e. a sample manifest) works. Set the 'identifier' column to be the sampleIDs that match up with the CNV calls

In [10]:
sampleQC = 'full_sample_manifest.csv'
genomatrix = pd.read_csv(sampleQC, sep=",")
genomatrix = genomatrix[genomatrix['WGS.GSA'] == 'WGS']
genomatrix['identifier'] = genomatrix['Genomic_ID']
genomatrix

,GUID,Genomic_ID,nda_dataset,nda_id,comment,WGS.GSA,guid,redcap_data_access_group,age_final,sex_final,...,genomics_sample_type,rutgers_status,tcag_status,gen_status_nda,final_group_class,final_group_22q_type,final_group_16p_type,group_class_breakpoints,enroll_year,identifier
0,NDARAA121WTA,887-NDARAA121WTA,Jul_2025_WGS,75704.0,NaN,WGS,NDARAA121WTA,toronto,7.0,Female,...,1.0,2.0,NaN,NaN,22q11.2_Duplication,A-D,NaN,22q11.2_Duplication A-D,2023.0,887-NDARAA121WTA
1,NDARAA241UP7,882-NDARAA241UP7,Jul_2025_WGS,75704.0,NaN,WGS,NDARAA241UP7,maastricht,31.0,Male,...,2.0,NaN,1.0,NaN,22q11.2_Deletion,A-D,NaN,22q11.2_Deletion A-D,2024.0,882-NDARAA241UP7
5,NDARAA984CN8,896-NDARAA984CN8,Jul_2023_WGS,59392.0,NaN,WGS,NDARAA984CN8,pennchop,44.0,Male,...,2.0,NaN,1.0,1.0,22q11.2_Duplication,A-D,NaN,22q11.2_Duplication A-D,2022.0,896-NDARAA984CN8
8,NDARAB126ULP,884-NDARAB126ULP,Jan_2024_WGS,64244.0,NaN,WGS,NDARAB126ULP,ucla,9.0,Female,...,1.0,2.0,NaN,1.0,22q11.2_Deletion,A-D,NaN,22q11.2_Deletion A-D,2022.0,884-NDARAB126ULP
9,NDARAB421WYL,883-NDARAB421WYL,Jul_2023_WGS,59392.0,NaN,WGS,NDARAB421WYL,leuven,33.0,Female,...,1.0,NaN,1.0,1.0,22q11.2_Deletion,A-D,NaN,22q11.2_Deletion A-D,2022.0,883-NDARAB421WYL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2417,NDARZX589WUG,896-NDARZX589WUG,Jul_2023_WGS,59392.0,NaN,WGS,NDARZX589WUG,pennchop,24.0,Female,...,1.0,NaN,1.0,1.0,22q11.2_Deletion,A-D,NaN,22q11.2_Deletion A-D,2021.0,896-NDARZX589WUG
2419,NDARZX886ZDC,896-NDARZX886ZDC,Jan_2023,53739.0,NaN,WGS,NDARZX886ZDC,pennchop,15.0,Female,...,1.0,NaN,1.0,1.0,22q11.2_Deletion,A-D,NaN,22q11.2_Deletion A-D,2020.0,896-NDARZX886ZDC
2420,NDARZX911VCJ,884-NDARZX911VCJ,Jan_2023,53739.0,NaN,WGS,NDARZX911VCJ,ucla,10.0,Male,...,2.0,2.0,NaN,1.0,22q11.2_Duplication,A-D,NaN,22q11.2_Duplication A-D,2021.0,884-NDARZX911VCJ
2428,NDARZZ354KTJ,888-NDARZZ354KTJ,Jan_2024_WGS,64244.0,NaN,WGS,NDARZZ354KTJ,montreal,20.0,Male,...,1.0,2.0,NaN,1.0,22q11.2_Duplication,A-D,NaN,22q11.2_Duplication A-D,2021.0,888-NDARZZ354KTJ
2429,NDARZZ419FG3,896-NDARZZ419FG3,Jul_2025_WGS,75704.0,NaN,WGS,NDARZZ419FG3,pennchop,13.0,Male,...,NaN,NaN,NaN,NaN,22q11.2_Deletion,A-D,NaN,22q11.2_Deletion A-D,2023.0,896-NDARZZ419FG3

Next, add reciprocal calls

In [11]:
# Map CNV types to numeric codes
cn_mapping = {'<DEL>': 1, '<DUP>': 3}
calls_df = reciprocal_calls.copy()
calls_df['CN'] = calls_df['TYPE'].map(cn_mapping)

# Get all unique loci
loci = calls_df['locusName'].unique()
loci_reciprocal = loci

# Ensure 'identifier' and 'sampleID' are string type for consistent merging
genomatrix['identifier'] = genomatrix['identifier'].astype(str)
calls_df['sampleID'] = calls_df['sampleID'].astype(str)

# Initialize columns in genomatrix_CNV with default value 2
for l in loci:
    genomatrix[l] = 2

# Pivot CNV calls to wide format (sample x locus)
pivoted = calls_df.pivot_table(index='sampleID', columns='locusName', values='CN', aggfunc='first')

# Merge CNV calls into genotype matrix using update
pivoted.index.name = 'identifier'  # match index name to merge key
genomatrix.set_index('identifier', inplace=True)
genomatrix.update(pivoted)
genomatrix.reset_index(inplace=True)

Next, add one-way calls. We add the suffix "oneway" to the locus names to indicate that these are not yet "allele specific"

In [12]:
# Map CNV types to numeric codes
cn_mapping = {'<DEL>': 1, '<DUP>': 3}
calls_df = oneway_calls.copy()
calls_df['CN'] = calls_df['TYPE'].map(cn_mapping)

# Get all unique loci
loci = calls_df['locusName'].unique()
loci_oneway = [f'{l}_oneway' for l in loci]

# Ensure 'identifier' and 'sampleID' are string type for consistent merging
genomatrix['identifier'] = genomatrix['identifier'].astype(str)
calls_df['sampleID'] = calls_df['sampleID'].astype(str)
calls_df['locusName'] = calls_df['locusName'] + '_oneway'

# Initialize columns in genomatrix_CNV with default value 2
for l in loci:
    genomatrix[f'{l}_oneway'] = 2

# Pivot CNV calls to wide format (sample x locus)
pivoted = calls_df.pivot_table(index='sampleID', columns='locusName', values='CN', aggfunc='first')

# Merge CNV calls into genotype matrix using update
pivoted.index.name = 'identifier'  # match index name to merge key
genomatrix.set_index('identifier', inplace=True)
genomatrix.update(pivoted)
genomatrix.reset_index(inplace=True)
genomatrix.head()

,identifier,GUID,Genomic_ID,nda_dataset,nda_id,comment,WGS.GSA,guid,redcap_data_access_group,age_final,...,16p11.2_BP2_BP3_oneway,16p11.2_BP4_BP5_oneway,22q11.21_A_B_oneway,22q11.21_B_C_oneway,22q11.21_C_D_oneway,22q11.21_D_E_oneway,22q11.21_E_F_oneway,22q11.21_F_G_oneway,22q11.21_G_H_oneway,15q13.3_BP4_BP5_exclCHRNA7_oneway
0,887-NDARAA121WTA,NDARAA121WTA,887-NDARAA121WTA,Jul_2025_WGS,75704.0,NaN,WGS,NDARAA121WTA,toronto,7.0,...,2,2,3,3,3,2,2,2,2,2
1,882-NDARAA241UP7,NDARAA241UP7,882-NDARAA241UP7,Jul_2025_WGS,75704.0,NaN,WGS,NDARAA241UP7,maastricht,31.0,...,2,2,1,1,1,2,2,2,2,2
2,896-NDARAA984CN8,NDARAA984CN8,896-NDARAA984CN8,Jul_2023_WGS,59392.0,NaN,WGS,NDARAA984CN8,pennchop,44.0,...,2,2,3,3,3,2,2,2,2,2
3,884-NDARAB126ULP,NDARAB126ULP,884-NDARAB126ULP,Jan_2024_WGS,64244.0,NaN,WGS,NDARAB126ULP,ucla,9.0,...,2,2,1,1,1,2,2,2,2,2
4,883-NDARAB421WYL,NDARAB421WYL,883-NDARAB421WYL,Jul_2023_WGS,59392.0,NaN,WGS,NDARAB421WYL,leuven,33.0,...,2,2,1,1,1,2,2,2,2,2

In [13]:
genomatrix['15q13.3_BP4_BP5_exclCHRNA7_oneway'].value_counts()

15q13.3_BP4_BP5_exclCHRNA7_oneway
2    1079
3       3
1       3
Name: count, dtype: int64

In [14]:
genomatrix.columns

Index(['identifier', 'GUID', 'Genomic_ID', 'nda_dataset', 'nda_id', 'comment',
       'WGS.GSA', 'guid', 'redcap_data_access_group', 'age_final', 'sex_final',
       'gen_group_class', 'group_class', 'gen_group_16p_type',
       'group_16p_type', 'gen_group_22q_type', 'group_22q_type',
       'gen_group_nonstandard_type', 'gen_group_nonstandard_type_breakpoints',
       'group_22q_type_other', 'genomics_sample_type', 'rutgers_status',
       'tcag_status', 'gen_status_nda', 'final_group_class',
       'final_group_22q_type', 'final_group_16p_type',
       'group_class_breakpoints', 'enroll_year', '3q29', '7q11.23_WBS',
       '2q13_NPHP1', '2q13', '2q21.1', '7q11.23_distal', '10q11.21_11.23',
       '13q12.12', '17p12', '17q12', '1q21.1_TAR_BP1_BP2_oneway',
       '1q21.1_TAR_BP2_BP3_oneway', '15q11.2_BP1_BP2_oneway',
       '15q13.1-13.2_BP3_BP4_oneway', '15q13.3_CHRNA7_oneway',
       '16p13.11_BP1_BP2_oneway', '16p12.2_BP2_BP3_oneway',
       '16p11.2_BP1_BP2_oneway', '16p11.2_BP2_BP3_oneway',
       '16p11.2_BP4_BP5_oneway', '22q11.21_A_B_oneway', '22q11.21_B_C_oneway',
       '22q11.21_C_D_oneway', '22q11.21_D_E_oneway', '22q11.21_E_F_oneway',
       '22q11.21_F_G_oneway', '22q11.21_G_H_oneway',
       '15q13.3_BP4_BP5_exclCHRNA7_oneway'],
      dtype='object')

# (Optional) set calls for samples that failed QC to NA

In [40]:
import numpy as np
all_loci = list(loci_oneway) + list(loci_reciprocal)
#genomatrix.loc[genomatrix["NOTES..additional.filter.reason."] != 'pass', all_loci] = np.nan

# Combine one-way calls into "allele specific" genotypes

## 1q21.1 TAR

In [17]:
genomatrix['1q21.1_TAR_BP1_BP2'] = np.where(
    genomatrix['1q21.1_TAR_BP2_BP3_oneway'] == 2,
    genomatrix['1q21.1_TAR_BP1_BP2_oneway'],
    2
)

genomatrix['1q21.1_TAR_BP2_BP3'] = np.where(
    genomatrix['1q21.1_TAR_BP1_BP2_oneway'] == 2,
    genomatrix['1q21.1_TAR_BP2_BP3_oneway'],
    2
)

genomatrix['1q21.1_TAR_BP1_BP3'] = np.where(
    genomatrix['1q21.1_TAR_BP1_BP2_oneway'] == genomatrix['1q21.1_TAR_BP2_BP3_oneway'],
    genomatrix['1q21.1_TAR_BP2_BP3_oneway'],
    2
)

pd.crosstab(genomatrix['1q21.1_TAR_BP2_BP3'], genomatrix['1q21.1_TAR_BP1_BP2'])

1q21.1_TAR_BP1_BP2     2  3
1q21.1_TAR_BP2_BP3
2                   1083  2

## 15q11-13

This region has two separate CNV regions: BP1-3 and BP3-5. CNVs at CYFIP and CHRNA7 are common ( ~ 0.5% AF), so it is not unlikely that there are subjects who have one of these CNVs AND an independent CNV at the other end of the region. So, we genotype BP1-BP3 and BP3-BP5 independently

In [24]:
# adding because g2mh does not have:
genomatrix['15q11.2-13.1_BP2_BP3_oneway'] = 2

regions_15q13 = ['15q11.2_BP1_BP2_oneway', 
               '15q11.2-13.1_BP2_BP3_oneway']
genomatrix['15q13'] = (
    genomatrix[regions_15q13]
    .fillna(0)
    .astype(int)
    .astype(str)
    .agg(''.join, axis=1)
)

## 1-2 CYFIP

conditions = [
    genomatrix['15q13'] == '12',
    genomatrix['15q13'] == '32',
    genomatrix['15q13'] == '00'
]
choices = [1, 3, None]

genomatrix['15q11.2_BP1_BP2'] = np.select(conditions, choices, default=2)

## 2-3 

conditions = [
    genomatrix['15q13'] == '21',
    genomatrix['15q13'] == '23',
    genomatrix['15q13'] == '00'
]
choices = [1, 3, None]

genomatrix['15q11.2-13.1_BP2_BP3'] = np.select(conditions, choices, default=2)

## 1-3 

conditions = [
    genomatrix['15q13'] == '11',
    genomatrix['15q13'] == '33',
    genomatrix['15q13'] == '00'
]
choices = [1, 3, None]

genomatrix['15q11.2-13.1_BP1_BP3'] = np.select(conditions, choices, default=2)

pd.crosstab(genomatrix['15q11.2_BP1_BP2'], genomatrix['15q11.2-13.1_BP2_BP3'])

15q11.2-13.1_BP2_BP3     2
15q11.2_BP1_BP2
1                        4
2                     1071
3                       10

In [25]:
regions_15q35 = ['15q13.1-13.2_BP3_BP4_oneway',
               '15q13.3_BP4_BP5_exclCHRNA7_oneway',
               '15q13.3_CHRNA7_oneway']
genomatrix['15q35'] = (
    genomatrix[regions_15q35]
    .fillna(0)
    .astype(int)
    .astype(str)
    .agg(''.join, axis=1)
)

## 3-4 

conditions = [
    genomatrix['15q35'] == '122',
    genomatrix['15q35'] == '322',
    genomatrix['15q35'] == '000'
]
choices = [1, 3, None]

genomatrix['15q13.1-13.2_BP3_BP4'] = np.select(conditions, choices, default=2)

## 3-5 

conditions = [
    genomatrix['15q35'] == '111',
    genomatrix['15q35'] == '333',
    genomatrix['15q35'] == '000'
]
choices = [1, 3, None]

genomatrix['15q13.1-13.3_BP3_BP5'] = np.select(conditions, choices, default=2)

## 4-5 

conditions = [
    genomatrix['15q35'] == '211',
    genomatrix['15q35'] == '233',
    genomatrix['15q35'] == '000'
]
choices = [1, 3, None]

genomatrix['15q13.3_BP4_BP5'] = np.select(conditions, choices, default=2)

## 4-5 excl CHRNA7

conditions = [
    genomatrix['15q35'] == '212',
    genomatrix['15q35'] == '232',
    genomatrix['15q35'] == '000'
]
choices = [1, 3, None]

genomatrix['15q13.3_BP4_BP5_exclCHRNA7'] = np.select(conditions, choices, default=2)


## CHRNA7 

conditions = [
    genomatrix['15q35'] == '221',
    genomatrix['15q35'] == '223',
    genomatrix['15q35'] == '000'
]
choices = [1, 3, None]

genomatrix['15q13.3_CHRNA7'] = np.select(conditions, choices, default=2)


pd.crosstab(genomatrix['15q13.3_CHRNA7'], genomatrix['15q13.3_BP4_BP5'])

15q13.3_BP4_BP5  1     2  3
15q13.3_CHRNA7
2                3  1075  2
3                0     5  0

## 16p11.2

In [28]:
genomatrix['16p11.2_BP3_BP4_oneway'] = 2
regions_16p11 = ['16p11.2_BP1_BP2_oneway', 
                 '16p11.2_BP2_BP3_oneway', 
                 '16p11.2_BP3_BP4_oneway',
                 '16p11.2_BP4_BP5_oneway']
genomatrix['16p11.2'] = (
    genomatrix[regions_16p11]
    .fillna(0)
    .astype('int8')   # much smaller memory footprint
    .astype(str)
    .agg(''.join, axis=1)
)

## 1-2

conditions = [
    genomatrix['16p11.2'] == '1222',
    genomatrix['16p11.2'] == '3222',
    genomatrix['16p11.2'] == '0000'
]
choices = [1, 3, None]

genomatrix['16p11.2_BP1_BP2'] = np.select(conditions, choices, default=2)

## 1-3

conditions = [
    genomatrix['16p11.2'] == '1122',
    genomatrix['16p11.2'] == '3322',
    genomatrix['16p11.2'] == '0000'
]
choices = [1, 3, None]

genomatrix['16p11.2_BP1_BP3'] = np.select(conditions, choices, default=2)

## 2-3

conditions = [
    genomatrix['16p11.2'] == '2122',
    genomatrix['16p11.2'] == '2322',
    genomatrix['16p11.2'] == '0000'
]
choices = [1, 3, None]

genomatrix['16p11.2_BP2_BP3'] = np.select(conditions, choices, default=2)

## 3-4

conditions = [
    genomatrix['16p11.2'] == '2212',
    genomatrix['16p11.2'] == '2232',
    genomatrix['16p11.2'] == '0000'
]
choices = [1, 3, None]

genomatrix['16p11.2_BP3_BP4'] = np.select(conditions, choices, default=2)


## 4-5

conditions = [
    genomatrix['16p11.2'] == '2221',
    genomatrix['16p11.2'] == '2223',
    genomatrix['16p11.2'] == '0000'
]
choices = [1, 3, None]

genomatrix['16p11.2_BP4_BP5'] = np.select(conditions, choices, default=2)

pd.crosstab(genomatrix['16p11.2_BP4_BP5'], genomatrix['16p11.2_BP2_BP3'])

16p11.2_BP2_BP3   1    2   3
16p11.2_BP4_BP5
1                 0  145   0
2                28  828  11
3                 0   73   0

## 16p12.2

In [31]:
#print(genomatrix.columns)
genomatrix['16p12.2_BP1_BP2_oneway'] = 2

genomatrix['16p12.2_BP1_BP2'] = np.where(
    genomatrix['16p12.2_BP2_BP3_oneway'] == 2,
    genomatrix['16p12.2_BP1_BP2_oneway'],
    2
)

genomatrix['16p12.2_BP2_BP3'] = np.where(
    genomatrix['16p12.2_BP1_BP2_oneway'] == 2,
    genomatrix['16p12.2_BP2_BP3_oneway'],
    2
)

genomatrix['16p12.2_BP1_BP3'] = np.where(
    genomatrix['16p12.2_BP1_BP2_oneway'] == genomatrix['16p12.2_BP2_BP3_oneway'],
    genomatrix['16p12.2_BP1_BP2_oneway'],
    2
)

pd.crosstab(genomatrix['16p12.2_BP1_BP2'], genomatrix['16p12.2_BP2_BP3'])

16p12.2_BP2_BP3  1     2  3
16p12.2_BP1_BP2
2                1  1081  3

## 16p13.3

In [34]:
genomatrix['16p13.11_BP2_BP3_oneway'] = 2

genomatrix['16p13.11_BP1_BP2'] = np.where(
    genomatrix['16p13.11_BP2_BP3_oneway'] == 2,
    genomatrix['16p13.11_BP1_BP2_oneway'],
    2
)

genomatrix['16p13.11_BP2_BP3'] = np.where(
    genomatrix['16p13.11_BP1_BP2_oneway'] == 2,
    genomatrix['16p13.11_BP2_BP3_oneway'],
    2
)

genomatrix['16p13.11_BP1_BP3'] = np.where(
    genomatrix['16p13.11_BP1_BP2_oneway'] == genomatrix['16p13.11_BP2_BP3_oneway'],
    genomatrix['16p13.11_BP1_BP2_oneway'],
    2
)

pd.crosstab(genomatrix['16p13.11_BP1_BP2'], genomatrix['16p13.11_BP2_BP3'])

16p13.11_BP2_BP3     2
16p13.11_BP1_BP2
1                    4
2                 1079
3                    2

## 22q11.2

First, genotype the A-D region

In [37]:
regions_22qAD = ['22q11.21_A_B_oneway', '22q11.21_B_C_oneway', '22q11.21_C_D_oneway']
genomatrix['22q11.21_AD'] = (
    genomatrix[regions_22qAD]
    .fillna(0)
    .astype(int)
    .astype(str)
    .agg(''.join, axis=1)
)

## AB

conditions = [
    genomatrix['22q11.21_AD'] == '122',
    genomatrix['22q11.21_AD'] == '322',
    genomatrix['22q11.21_AD'] == '000',
]
choices = [1, 3, None]

genomatrix['22q11.21_A_B'] = np.select(conditions, choices, default=2)

## BC

conditions = [
    genomatrix['22q11.21_AD'] == '212',
    genomatrix['22q11.21_AD'] == '232',
    genomatrix['22q11.21_AD'] == '000',
]
choices = [1, 3, None]

genomatrix['22q11.21_B_C'] = np.select(conditions, choices, default=2)


## CD

conditions = [
    genomatrix['22q11.21_AD'] == '221',
    genomatrix['22q11.21_AD'] == '223',
    genomatrix['22q11.21_AD'] == '000',
]
choices = [1, 3, None]

genomatrix['22q11.21_C_D'] = np.select(conditions, choices, default=2)



## AC

conditions = [
    genomatrix['22q11.21_AD'] == '112',
    genomatrix['22q11.21_AD'] == '332',
    genomatrix['22q11.21_AD'] == '000',
]
choices = [1, 3, None]

genomatrix['22q11.21_A_C'] = np.select(conditions, choices, default=2)


## BD

conditions = [
    genomatrix['22q11.21_AD'] == '211',
    genomatrix['22q11.21_AD'] == '233',
    genomatrix['22q11.21_AD'] == '000',
]
choices = [1, 3, None]

genomatrix['22q11.21_B_D'] = np.select(conditions, choices, default=2)


## AD

conditions = [
    genomatrix['22q11.21_AD'] == '111',
    genomatrix['22q11.21_AD'] == '333',
    genomatrix['22q11.21_AD'] == '000',
]
choices = [1, 3, None]

genomatrix['22q11.21_A_D'] = np.select(conditions, choices, default=2)


## note, there were some samples with 323... this is likely due to a fragmented call

pd.crosstab(genomatrix['22q11.21_A_D'], genomatrix['22q11.21_C_D'])

22q11.21_C_D   1    2   3
22q11.21_A_D
1              0  501   0
2             10  423  10
3              0  141   0

Next, genotype the D-H region

In [38]:
regions_22qDH = ['22q11.21_D_E_oneway','22q11.21_E_F_oneway', 
                 '22q11.21_F_G_oneway', '22q11.21_G_H_oneway']

genomatrix['22q11.21_DH'] = (genomatrix[regions_22qDH]
    .fillna(0)
    .astype(int)
    .astype(str)
    .agg(''.join, axis=1)
                           )

## DE

conditions = [
    genomatrix['22q11.21_DH'] == '1222',
    genomatrix['22q11.21_DH'] == '3222',
    genomatrix['22q11.21_DH'] == '0000'
]
choices = [1, 3, None]

genomatrix['22q11.21_D_E'] = np.select(conditions, choices, default=2)


## EF

conditions = [
    genomatrix['22q11.21_DH'] == '2122',
    genomatrix['22q11.21_DH'] == '2322',
    genomatrix['22q11.21_DH'] == '0000'
]
choices = [1, 3, None]

genomatrix['22q11.21_E_F'] = np.select(conditions, choices, default=2)


## FG

conditions = [
    genomatrix['22q11.21_DH'] == '2212',
    genomatrix['22q11.21_DH'] == '2232',
    genomatrix['22q11.21_DH'] == '0000'
]
choices = [1, 3, None]


genomatrix['22q11.21_F_G'] = np.select(conditions, choices, default=2)

## GH

conditions = [
    genomatrix['22q11.21_DH'] == '2221',
    genomatrix['22q11.21_DH'] == '2223',
    genomatrix['22q11.21_DH'] == '0000'
]
choices = [1, 3, None]

genomatrix['22q11.21_G_H'] = np.select(conditions, choices, default=2)

## FH

conditions = [
    genomatrix['22q11.21_DH'] == '2211',
    genomatrix['22q11.21_DH'] == '2233',
    genomatrix['22q11.21_DH'] == '0000'
]
choices = [1, 3, None]
genomatrix['22q11.21_F_H'] = np.select(conditions, choices, default=2)

pd.crosstab(genomatrix['22q11.21_D_E'], genomatrix['22q11.21_F_H'])

22q11.21_F_H     2   3
22q11.21_D_E
1               14   0
2             1055  12
3                4   0

# View table of counts for each CNV

In [41]:
allloci = [a[:-7] if a[-6:] == 'oneway' else a for a in all_loci] + list(genomatrix.columns[89:])
allloci = list(set(allloci))
table = []

for l in allloci:
    row = {"locus": l}
    if 1 in genomatrix[l].value_counts():
        row['n_DELs'] = genomatrix[l].value_counts()[1]
    else:
        row['n_DELs'] = 0
      
    if 3 in genomatrix[l].value_counts():
        row['n_DUPs'] = genomatrix[l].value_counts()[3]
    else:
        row['n_DUPs'] = 0
    table.append(row)
    
counts = pd.DataFrame(table).sort_values(by='n_DUPs', ascending=False)
pd.set_option('display.max_rows', None)
counts

                         locus  n_DELs  n_DUPs
17                22q11.21_A_D     501     141
10             16p11.2_BP4_BP5     145      73
27                22q11.21_F_H       0      12
1              16p11.2_BP2_BP3      28      11
30                22q11.21_A_B      37      11
20                  2q13_NPHP1       6      10
9                 22q11.21_C_D      10      10
0              15q11.2_BP1_BP2       4      10
14                22q11.21_B_D      15       7
25                        3q29       0       5
11              15q13.3_CHRNA7       0       5
28                22q11.21_D_E      14       4
24                22q11.21_A_C      11       4
7              16p12.2_BP2_BP3       1       3
12                22q11.21_E_F       3       3
26                    13q12.12       2       2
23                      2q21.1       0       2
32            16p13.11_BP1_BP2       4       2
4               7q11.23_distal       0       2
3           1q21.1_TAR_BP1_BP2       0       2
21              10q11.21_11.23       0       1
22                 7q11.23_WBS       0       1
6                        17p12       0       1
29        15q13.1-13.2_BP3_BP4       0       1
31                22q11.21_B_C       0       1
18          1q21.1_TAR_BP2_BP3       0       0
19                        2q13       1       0
15                22q11.21_F_G       0       0
13  15q13.3_BP4_BP5_exclCHRNA7       0       0
8                 22q11.21_G_H       0       0
5                        17q12       1       0
2                  22q11.21_DH       0       0
16             16p11.2_BP1_BP2       0       0

# Write output

In [42]:

genomatrix.to_csv(f'genomatrix.recurrentCNV.{TODAY}.csv')